doctype html
html
	head
		link(rel='stylesheet', href='/css/styles.css', type = 'text/css')
	body
	a(href='/postmessage') Post a new message	
	h1 Posts overview
	table
			each val, index in datajson
				if index  % 4  === 0
					tr
				td
					p= 'POST ' + (index +1)
					p= 'Title: ' + val.title
					p= 'Body: ' + val.body



